adf-fundamentals/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-fundamentals"
		},
		"ls_DBSQL_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "AzureSQLDatabase"
		},
		"ls_DataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsadffundamentals.dfs.core.windows.net/"
		},
		"ls_key_vault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://akv-adf-fundamentals.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_copydata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "excel_to_cvs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"additionalColumns": [
									{
										"name": "loadData",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_excel_fixed",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "Cor.csv",
									"separatorName": ";"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "adf_activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_excel_fixed')]",
				"[concat(variables('factoryId'), '/datasets/ds_csv_generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata",
						"description": "Item Name: Return the name file or folder\n\nItem type: Return if the object is File or Folder\n\nLast Modified: Return the date of last modification \n\nSize: Return the file size in Bytes (It´s used just with file)\n\nStructure: Return the file structure (Column and Type)\n\nExists: Return if the TRUE or FALSE if the file exist\n\nColumn Count: Return the amount column there are in file or table\n\nContentMD5: Return the MD5 code\n\nChild Items: Return a list of sublist of the folder or file\n\n",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "*.csv",
									"separatorName": ";"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Lookup_sql",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_DBSQL_generic",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "SalesLt",
									"tableName": "ProductCategory"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_csv",
						"description": "The look can read the datas from databases and to follow for other activity\n\n\nSingleton mode - Retuurn the first line from dataset that you have used.\n\nArray mode: Return ALL datas from dataset that you have used",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "Cor.csv",
									"separatorName": ";"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FilterGetMetadata",
						"description": "It will return a list all Names that start with C",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadata').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,'C')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FilterSQL",
						"description": "It will return all item from category BIKE",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_sql').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,'Bike')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FilterCSV",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_csv').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@not(contains(toLower(item().Cor),'azul'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "adf_activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_generic')]",
				"[concat(variables('factoryId'), '/datasets/ds_DBSQL_generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_getmetaadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata",
						"description": "Item Name: Return the name file or folder\n\nItem type: Return if the object is File or Folder\n\nLast Modified: Return the date of last modification \n\nSize: Return the file size in Bytes (It´s used just with file)\n\nStructure: Return the file structure (Column and Type)\n\nExists: Return if the TRUE or FALSE if the file exist\n\nColumn Count: Return the amount column there are in file or table\n\nContentMD5: Return the MD5 code\n\nChild Items: Return a list of sublist of the folder or file\n\n",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "Cor.csv",
									"separatorName": ";"
								}
							},
							"fieldList": [
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "adf_activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_lookup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_csv",
						"description": "The look can read the datas from databases and to follow for other activity\n\n\nSingleton mode - Retuurn the first line from dataset that you have used.\n\nArray mode: Return ALL datas from dataset that you have used",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "Cor.csv",
									"separatorName": ";"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Lookup_sql",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_DBSQL_generic",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "SalesLt",
									"tableName": "ProductCategory"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Lookup_query",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_DBSQL_generic",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "SalesLT",
									"tableName": "ProductCategory"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Lookupprocedure",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_query",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[proc_lookup_adf_fundamentals]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_DBSQL_generic",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "SalesLT",
									"tableName": "ProductCategory"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "adf_activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_generic')]",
				"[concat(variables('factoryId'), '/datasets/ds_DBSQL_generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_stored_procedore')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "proc_update_dtInsert",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[proc_activity_adf01]"
						},
						"linkedServiceName": {
							"referenceName": "ls_DBSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "proc_update_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "proc_update_dtInsert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[proc_activity_adf02]",
							"storedProcedureParameters": {
								"preco": {
									"value": "50",
									"type": "Decimal"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_DBSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "adf_activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DBSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_wait')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata",
						"description": "Item Name: Return the name file or folder\n\nItem type: Return if the object is File or Folder\n\nLast Modified: Return the date of last modification \n\nSize: Return the file size in Bytes (It´s used just with file)\n\nStructure: Return the file structure (Column and Type)\n\nExists: Return if the TRUE or FALSE if the file exist\n\nColumn Count: Return the amount column there are in file or table\n\nContentMD5: Return the MD5 code\n\nChild Items: Return a list of sublist of the folder or file\n\n",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "Cor.csv",
									"separatorName": ";"
								}
							},
							"fieldList": [
								"itemType"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Lookup_csv",
						"description": "The look can read the datas from databases and to follow for other activity\n\n\nSingleton mode - Retuurn the first line from dataset that you have used.\n\nArray mode: Return ALL datas from dataset that you have used",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "wait 10 seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "Cor.csv",
									"separatorName": ";"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "wait 10 seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "GetMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "adf_activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_DBSQL_fixed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DBSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AddressID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AddressLine1",
						"type": "nvarchar"
					},
					{
						"name": "AddressLine2",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "StateProvince",
						"type": "nvarchar"
					},
					{
						"name": "CountryRegion",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Address"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DBSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_DBSQL_generic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DBSQL",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaName": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AddressID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AddressLine1",
						"type": "nvarchar"
					},
					{
						"name": "AddressLine2",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "StateProvince",
						"type": "nvarchar"
					},
					{
						"name": "CountryRegion",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DBSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_generic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containerNmae": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					},
					"separatorName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerNmae",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().separatorName",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_excel_fixed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Plan1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plan_cor.xlsx",
						"fileSystem": "excelfiles"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cor",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json_fixed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "jsonproduto.json",
						"fileSystem": "jsonfiles"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"codigo": {
							"type": "integer"
						},
						"nome": {
							"type": "string"
						},
						"preco": {
							"type": "number"
						},
						"qtd_estoque": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_DBSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_key_vault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_DBSQL_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_key_vault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_DataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_DataLake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_key_vault",
							"type": "LinkedServiceReference"
						},
						"secretName": "DataLakeSecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_key_vault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_key_vault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_key_vault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_foreach')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata",
						"description": "Item Name: Return the name file or folder\n\nItem type: Return if the object is File or Folder\n\nLast Modified: Return the date of last modification \n\nSize: Return the file size in Bytes (It´s used just with file)\n\nStructure: Return the file structure (Column and Type)\n\nExists: Return if the TRUE or FALSE if the file exist\n\nColumn Count: Return the amount column there are in file or table\n\nContentMD5: Return the MD5 code\n\nChild Items: Return a list of sublist of the folder or file\n\n",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "*.csv",
									"separatorName": ";"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachGetMetaData",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadata').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "loop1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					},
					{
						"name": "ForEachLookupSQL",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterSQL').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "loop2",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					},
					{
						"name": "Lookup_sql",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_DBSQL_generic",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "SalesLt",
									"tableName": "ProductCategory"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FilterSQL",
						"description": "It will return all item from category BIKE",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_sql').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,'Bike')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup_csv",
						"description": "The look can read the datas from databases and to follow for other activity\n\n\nSingleton mode - Retuurn the first line from dataset that you have used.\n\nArray mode: Return ALL datas from dataset that you have used",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_csv_generic",
								"type": "DatasetReference",
								"parameters": {
									"containerNmae": "csvfiles",
									"fileName": "Cor.csv",
									"separatorName": ";"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachLookupCSV",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_csv').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "loop3",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "adf_activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_generic')]",
				"[concat(variables('factoryId'), '/datasets/ds_DBSQL_generic')]"
			]
		}
	]
}