Overview/pipeline/pl_foreach.json
{
	"name": "pl_foreach",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata",
				"description": "Item Name: Return the name file or folder\n\nItem type: Return if the object is File or Folder\n\nLast Modified: Return the date of last modification \n\nSize: Return the file size in Bytes (It´s used just with file)\n\nStructure: Return the file structure (Column and Type)\n\nExists: Return if the TRUE or FALSE if the file exist\n\nColumn Count: Return the amount column there are in file or table\n\nContentMD5: Return the MD5 code\n\nChild Items: Return a list of sublist of the folder or file\n\n",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_generic",
						"type": "DatasetReference",
						"parameters": {
							"containerNmae": "csvfiles",
							"fileName": "*.csv",
							"separatorName": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachGetMetaData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "loop1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "ForEachLookupSQL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterSQL').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "loop2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Lookup_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_DBSQL_generic",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLt",
							"tableName": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FilterSQL",
				"description": "It will return all item from category BIKE",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_sql').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'Bike')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_csv",
				"description": "The look can read the datas from databases and to follow for other activity\n\n\nSingleton mode - Retuurn the first line from dataset that you have used.\n\nArray mode: Return ALL datas from dataset that you have used",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_csv_generic",
						"type": "DatasetReference",
						"parameters": {
							"containerNmae": "csvfiles",
							"fileName": "Cor.csv",
							"separatorName": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachLookupCSV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_csv').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "loop3",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf_activities"
		},
		"annotations": []
	}
}