Overview/pipeline/pl_HandsOn2.json
{
	"name": "pl_HandsOn2",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata_ReadingParquetFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_parquetfiles_generic",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "parquetfiles",
							"fileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach_ParquetFilesList",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_ReadingParquetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_ReadingParquetFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "parquet to SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_parquetfiles_generic",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "parquetfiles",
										"fileName": {
											"value": "@toLower(item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_generic",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SalesLT",
										"tableName": {
											"value": "@replace(toLower(item().name),'.parquet' ,'')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Procedure_RemovingDuplicatedCities",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_ParquetFilesList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[remove_cities_duplicated]"
				},
				"linkedServiceName": {
					"referenceName": "ls_dbSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Procedure_RemovingDuplicateColors",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_ParquetFilesList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[remove_colors_duplicated]"
				},
				"linkedServiceName": {
					"referenceName": "ls_dbSQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "HandsOn2"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-22T00:41:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}